\#*
*\#
*.swp
*~
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
config/dev.yml
config/private.yml
dev_releases
output
releases/*.tgz
src_alt
**/.DS_Store
releases/**/*.tgz
.DS_Store
blobs
manifest.yml
manifest.yml.NEW
manifest.yml.OLD
manifest.yml.POblin
bosh-release_cassandra39_ok_26072017
manifest.yml.OK
cred.yml
manifest.yml.OK
creds.yml
manifest.yml.TEST
manifest.yml.TEST2
manifest.yml.TEST3OK
5106e418-d2ea-4f01-6074-619402c6886e
