\#*
*\#
*.swp
*~
.DS_Store

/.blobs/
/blobs/
/dev_releases/
/config/dev.yml
/config/private.yml

.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
output

/*.tgz
/releases/*.tgz
/releases/*/*.tgz

/packages/*/dists/
/*.patch
/jobs/cassandra/*.patch
